.mobile-header-cvlink {
  -webkit-transition: background-color 0.13s ease-in;
  -moz-transition: background-color 0.13s ease-in;
  -o-transition: background-color 0.13s ease-in;
  transition: background-color 0.13s ease-in;
}

.mobile-header-cvlink:hover {
  background-color: #960018;
}

/* Button styling */
.menu-toggle {
  display: inline-block;
  /* padding: .75em 15px; */
  line-height: 1em;
  font-size: 1em;
  color: #303633;
  background-color: #770000;
  -webkit-transition: background-color 0.13s ease-in;
  -moz-transition: background-color 0.13s ease-in;
  -o-transition: background-color 0.13s ease-in;
  transition: background-color 0.13s ease-in;
}

.menu-toggle:hover {
  /* color: #c00; */
  background-color: #960018
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/
.main-menu {
  position: absolute;
  display: none;
  left: -200px;
  top: 0;
  /* height: 100%;
  overflow-y: scroll;
  overflow-x: visible; */
  overflow-y: hidden;
  overflow-x: hidden;
  transition: left 0.3s ease,
              box-shadow 0.3s ease;
  z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
     -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
          box-shadow: -8px 0 8px rgba(0,0,0,.5);
  min-height: 100%;
  width: 200px;
  background: #303633;
}

.main-menu a {
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #CDCDCD;
}

.main-menu li:first-child a {
  border-top: 1px solid #CDCDCD;
}

.main-menu a:hover {
  background: #960018;
  text-decoration: none;
}

.main-menu .menu-close {
  background: #770000;
  position: absolute;
  left: 0;
  top: 0;
}

/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/* 
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
  position: absolute;
  display: block;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
/*  background: #000;
  background: rgba(0,0,0,.85);*/
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop{
    position: fixed;
  }
}

@media screen and (max-width: 790px) {
  .mobileheader {
    /* padding: 20px;
    display: flex;
    align-items: baseline; */
    position: fixed;
    top: 0px;
    height: 40px;
    width: 100%;
    background-color: #303633;
    color: white;
  }
}
